<f:layout name="Main" />
<f:section name="Template">start</f:section>

<f:section name="HeaderAssets">
  <f:render partial="Assets/CanonicalReference"/>
</f:section>

<f:section name="Main">
  <div class="container">
    <f:format.raw>{content}</f:format.raw>
  </div>
</f:section>
